DATABASE_URL=
DATABASE_URL_UNPOOLED=
CONTEXT_7_API_KEY=
AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
RESEND_API_KEY=
EMAIL_VERIFICATION_ENABLED=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
UPLOADTHING_TOKEN=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_MONTHLY=
STRIPE_PRICE_YEARLY=
ENFORCE_PLANS=
